In [1]:
import pandas as pd
from selenium import webdriver 
from selenium.webdriver.common.by import By 
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions as EC

In [22]:
driver = webdriver.Chrome() 
driver.get("https://www.youtube.com/results?search_query=travel+blogs")

In [23]:
user_data = driver.find_elements_by_xpath('//*[@id="video-title"]')
links = []
for i in user_data:
    links.append(i.get_attribute('href'))

print(len(links))

584

In [25]:
Links= [] 
for val in links: 
    if val != None : 
        Links.append(val) 
print(len(Links))

471

In [26]:
df_travel = pd.DataFrame(columns = ['video_id', 'title', 'description', 'category'])
df_science = pd.DataFrame(columns = ['video_id', 'title', 'description', 'category'])
df_food = pd.DataFrame(columns = ['video_id', 'title', 'description', 'category'])
df_manufacturing = pd.DataFrame(columns = ['video_id', 'title', 'description', 'category'])
df_history = pd.DataFrame(columns = ['video_id', 'title', 'description', 'category'])
df_music = pd.DataFrame(columns = ['video_id', 'title', 'description', 'category'])

In [34]:
wait = WebDriverWait(driver, 1000)
v_category = "travel Blogs"
for x in Links:
    driver.get(x)
    v_id = x.strip('https://www.youtube.com/watch?v=')
    v_title = wait.until(EC.presence_of_element_located((By.CSS_SELECTOR,"h1.title yt-formatted-string"))).text
    v_description =  wait.until(EC.presence_of_element_located((By.CSS_SELECTOR,"div#description yt-formatted-string"))).text
    df_travel.loc[len(df_travel)] = [v_id, v_title, v_description, v_category]

In [35]:
df_travel.head()

,video_id,title,description,category
0,JLZlCZ0,Ep 1| Travelling through North East India | Of...,"The journey to Arunachal, North East India beg...",travel Blogs
1,i9E_Blai8vk,Welcome to Bali | Travel Vlog | Priscilla Lee,I had the chance to fly out to Bali with my wh...,travel Blogs
2,n79Rv0F48,Backpacking In Meghalaya | NorthEast India Tri...,"In this video I explored North East India, sta...",travel Blogs
3,i5F7Xh9CO8U,EXPLORING VARANASI | Benaras Travel Vlog #1,Spent an incredible week exploring the beautif...,travel Blogs
4,SL_YBLWdZb8,Welcome to Peru! | Best Essential Tips & Trave...,Welcome to Peru! This essential travel guide w...,travel Blogs

In [41]:
driver=webdriver.Chrome()
driver.get("https://www.youtube.com/results?search_query=science+and+technology")

In [42]:
user_data1 = driver.find_elements_by_xpath('//*[@id="video-title"]')
links1 = []
for i in user_data1:
    links1.append(i.get_attribute('href'))
Links1= [] 
for val in links1: 
    if val != None : 
        Links1.append(val) 
print(len(Links1))

828

In [44]:
wait = WebDriverWait(driver, 10)
v_category = "science and technology"
for x in Links1:
    driver.get(x)
    v_id = x.strip('https://www.youtube.com/watch?v=')
    v_title = wait.until(EC.presence_of_element_located(
                   (By.CSS_SELECTOR,"h1.title yt-formatted-string"))).text
    v_description =  wait.until(EC.presence_of_element_located(
                                 (By.CSS_SELECTOR,"div#description yt-formatted-string"))).text
    df_science.loc[len(df_science)] = [v_id, v_title, v_description, v_category]

In [45]:
df_science.head()

,video_id,title,description,category
0,0DqpgV3w4,#SCIENCE & TECHNOLOGY #CURRENT AFFAIRS 2019 (J...,SCIENCE & TECHNOLOGY CURRENT AFFAIRS 2018 (JAN...,science and technology
1,f3NWvUV8MD8,Welcome To Future,Theories of technology often attempt to predic...,science and technology
2,2O5lIPJoTag,Top 3 New Technology Future Inventions Gadgets...,Top 3 New Technology Future Inventions Gadgets...,science and technology
3,BO5CchnV,Science and Technology | विज्ञानं एवं प्रोधोगि...,In this session in brief discussion on Science...,science and technology
4,D1qMoqS_TV,अंतरिक्ष प्रौद्‍योगिकी | Space Technology | Sp...,8AM- अंतरिक्ष प्रौद्‍योगिकी | Gen. Science | ...,science and technology

In [47]:
driver=webdriver.Chrome()
driver.get("https://www.youtube.com/results?search_query=food")

In [49]:
user_data2 = driver.find_elements_by_xpath('//*[@id="video-title"]')
links2 = []
for i in user_data2:
    links2.append(i.get_attribute('href'))
Links2= [] 
for val in links2: 
    if val != None : 
        Links2.append(val) 
print(len(Links2))

405

In [50]:
wait = WebDriverWait(driver, 1000)
v_category = "food"
for x in Links2:
    driver.get(x)
    v_id = x.strip('https://www.youtube.com/watch?v=')
    v_title = wait.until(EC.presence_of_element_located(
                   (By.CSS_SELECTOR,"h1.title yt-formatted-string"))).text
    v_description =  wait.until(EC.presence_of_element_located(
                                 (By.CSS_SELECTOR,"div#description yt-formatted-string"))).text
    df_food.loc[len(df_food)] = [v_id, v_title, v_description, v_category]

In [53]:
df_food.head()

,video_id,title,description,category
0,8yfkENiAXFM,Amazon Street Food in Belém - UNBELIEVABLE TAC...,🎥Unseen SUPERFOOD in Amazon Jungle: https://y...,food
1,0SPwwpruGIA,42 Foods You Need To Eat Before You Die | The ...,This is the ultimate must-try food bucket list...,food
2,FGe3KhkNx,Mouthwatering INDIAN STREET FOOD Breakfast Tou...,Subscribe to my channel ► http://bit.ly/DBH-SU...,food
3,Xj_j52QJTO4,VEG Street Food in Loafer's Lane with Veggiepa...,In the 3rd Episode of Bangalore Food Tour ( So...,food
4,XwHurP9RH-,42 Cheesy Foods You Need To Eat Before You Die...,"From pizza pot pies to cheeseburger dumplings,...",food

In [54]:
driver=webdriver.Chrome()
driver.get("https://www.youtube.com/results?search_query=manufacturing")

In [55]:
user_data3 = driver.find_elements_by_xpath('//*[@id="video-title"]')
links3 = []
for i in user_data3:
    links3.append(i.get_attribute('href'))
Links3= [] 
for val in links3: 
    if val != None : 
        Links3.append(val)

In [56]:
len(Links3)

689

In [57]:
wait = WebDriverWait(driver, 100)
v_category = "manufacturing"
for x in Links3:
    driver.get(x)
    v_id = x.strip('https://www.youtube.com/watch?v=')
    v_title = wait.until(EC.presence_of_element_located(
                   (By.CSS_SELECTOR,"h1.title yt-formatted-string"))).text
    v_description =  wait.until(EC.presence_of_element_located(
                                 (By.CSS_SELECTOR,"div#description yt-formatted-string"))).text
    df_manufacturing.loc[len(df_manufacturing)] = [v_id, v_title, v_description, v_category]

In [59]:
driver=webdriver.Chrome()
driver.get("https://www.youtube.com/results?search_query=history")

In [60]:
user_data4 = driver.find_elements_by_xpath('//*[@id="video-title"]')
links4 = []
for i in user_data4:
    links4.append(i.get_attribute('href'))
Links4= [] 
for val in links4: 
    if val != None : 
        Links4.append(val) 
print(len(Links4))

465

In [62]:
wait = WebDriverWait(driver, 10)
v_category = "history"
for x in Links4:
    driver.get(x)
    v_id = x.strip('https://www.youtube.com/watch?v=')
    v_title = wait.until(EC.presence_of_element_located(
                   (By.CSS_SELECTOR,"h1.title yt-formatted-string"))).text
    v_description =  wait.until(EC.presence_of_element_located(
                                 (By.CSS_SELECTOR,"div#description yt-formatted-string"))).text
    df_history.loc[len(df_history)] = [v_id, v_title, v_description, v_category]

In [63]:
driver=webdriver.Chrome()
driver.get("https://www.youtube.com/results?search_query=art+music")

In [64]:
user_data5 = driver.find_elements_by_xpath('//*[@id="video-title"]')
links5 = []
for i in user_data5:
    links5.append(i.get_attribute('href'))
Links5= [] 
for val in links5: 
    if val != None : 
        Links5.append(val) 
len(Links5)

471

In [66]:
wait = WebDriverWait(driver, 10000)
v_category = "art and music"
for x in Links5:
    driver.get(x)
    v_id = x.strip('https://www.youtube.com/watch?v=')
    v_title = wait.until(EC.presence_of_element_located(
                   (By.CSS_SELECTOR,"h1.title yt-formatted-string"))).text
    v_description =  wait.until(EC.presence_of_element_located(
                                 (By.CSS_SELECTOR,"div#description yt-formatted-string"))).text
    df_music.loc[len(df_music)] = [v_id, v_title, v_description, v_category]

In [67]:
df_music.tail()

,video_id,title,description,category
466,0ofiQQ,babyfirsttv arty party rabbit,,art and music
467,N7uDvI6YkEI,Baby first tv arty party sheep,,art and music
468,VeuOWMkvs54,babyfirsttv arty party pig,,art and music
469,TES09k0p6,"Rapunzel, Sleeping Beauty & More Bedtime Stori...",Subscribe to the BABYFIRSTTV Youtube Channel f...,art and music
470,Blz-npEbOHA,"Gloria Estefan, 'N Sync - Music Of My Heart",Playlist Best of / Lo mejor de Gloria Estefan:...,art and music

In [69]:
data_list = [df_travel, df_science, df_food, df_manufacturing, df_history, df_music]

In [70]:
#all the dataframes are concatinated
data= pd.concat(data_list, axis=0, join='outer', join_axes=None, ignore_index=True,
                            keys=None, levels=None, names=None, verify_integrity=False, copy=True)

In [73]:
data.describe()

,video_id,title,description,category
count,3329,3329,3329,3329
unique,3311,3292,3092,6
top,5LYl4DM5c4,Khandelwal College of Management Science and T...,,science and technology
freq,2,3,159,828

In [74]:
df_title = pd.DataFrame(columns = ["title"])  
df_video_id = pd.DataFrame(columns = ["video_id"])        
df_description = pd.DataFrame(columns = ["description"])        
df_category = pd.DataFrame(columns = ["category"])        
df_video_id['video_id'] = data['video_id'] 
df_title ['title']= data['title'] 
df_description['description'] = data['description'] 
df_category['category'] = data['category']

In [75]:
#data pre=processing
import re 
import nltk 
nltk.download('stopwords') 
from nltk.corpus import stopwords 
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\91901\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [78]:
#title is cleaned and stored in a new list
cleaned_title = []        
for i in range(0, 3329):  
    review = re.sub('[^a-zA-Z]', ' ', df_title['title'][i])            
    review = review.lower()            
    review = review.split()            
    ps = PorterStemmer()            
    review = [ps.stem(word) for word in review if not word in set(stopwords.words('english'))]            
    review = ' '.join(review)            
    cleaned_title.append(review)

In [81]:
cleaned_desc = [] 
for i in range(0, 3329): 
    review = re.sub('[^a-zA-Z]', ' ', df_description['description'][i])            
    review = review.lower()            
    review = review.split()            
    ps = PorterStemmer()            
    review = [ps.stem(word) for word in review if not word in set(stopwords.words('english'))]            
    review = ' '.join(review)            
    cleaned_desc.append(review)

In [82]:
#list is cnverted to dataframes
dftitle = pd.DataFrame({'title':cleaned_title})
dfdescription = pd.DataFrame({'description':cleaned_desc})

In [83]:
from sklearn.preprocessing import LabelEncoder
dfcategory = df_category.apply(LabelEncoder().fit_transform)

In [85]:
df_new = pd.concat([df_video_id, dftitle, dfdescription, dfcategory], axis=1, join_axes = [df_video_id.index])

In [141]:
from sklearn.feature_extraction.text import CountVectorizer   
cv = CountVectorizer(max_features = 6) 
X = cv.fit_transform(cleaned_title, cleaned_desc).toarray() 
y = df_new.iloc[:, 3].values

In [142]:
y.shape

(3329L,)

In [143]:
#data is split into training(80%) and testing (20%)  sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

In [144]:
#category1:Naive bayes classification algorithm

In [145]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()
gnb.fit(X_train, y_train)
print('Accuracy of GNB classifier on training set: {:.2f}'
     .format(gnb.score(X_train, y_train)))
print('Accuracy of GNB classifier on test set: {:.2f}'
     .format(gnb.score(X_test, y_test)))

Accuracy of GNB classifier on training set: 0.78
Accuracy of GNB classifier on test set: 0.78

In [146]:
#scores of naive bayes classication algorithm
from sklearn.metrics import classification_report
from sklearn.metrics import precision_recall_fscore_support

y_pred = gnb.predict(X_test)
gnb.score(X_test, y_test)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00       103
           1       1.00      0.95      0.98        83
           2       0.99      0.92      0.95        83
           3       1.00      0.84      0.91       126
           4       0.98      0.93      0.96       184
           5       0.38      1.00      0.55        87

   micro avg       0.78      0.78      0.78       666
   macro avg       0.72      0.77      0.72       666
weighted avg       0.76      0.78      0.75       666

C:\Users\91901\Anaconda2\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\91901\Anaconda2\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\91901\Anaconda2\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [113]:
#category 2: Gradient Tree Boosting algorithm

In [147]:
from sklearn.ensemble import GradientBoostingClassifier

In [148]:
clf = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=1)
clf.fit(X_train, y_train)
print('Accuracy of GNB classifier on training set: {:.2f}'
     .format(clf.score(X_train, y_train)))
print('Accuracy of GNB classifier on test set: {:.2f}'
     .format(clf.score(X_test, y_test)))

Accuracy of GNB classifier on training set: 0.90
Accuracy of GNB classifier on test set: 0.93

In [149]:
#scores of gradient boosting algorithm
from sklearn.metrics import classification_report
from sklearn.metrics import precision_recall_fscore_support

y_pred = clf.predict(X_test)
clf.score(X_test, y_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.71      0.98      0.82       103
           1       1.00      0.95      0.98        83
           2       0.99      0.92      0.95        83
           3       1.00      0.84      0.91       126
           4       0.98      0.93      0.96       184
           5       0.99      0.97      0.98        87

   micro avg       0.93      0.93      0.93       666
   macro avg       0.94      0.93      0.93       666
weighted avg       0.95      0.93      0.93       666

In [117]:
#data exported to excel file
from pandas import ExcelWriter

writer = ExcelWriter('travel_blog.xlsx')
df_new.to_excel(writer,'Youtube_video')
writer.save()

In [150]:
#category 3 :Lstm model on next jupyter notebook named Youtube_lstm_code